.hero-section {
    min-height: 520px;

    background-image: url("http://localhost:8080/api/hero/image");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}