.search-summary{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 35px;

    margin-bottom:30px;

    background:#0080FE;

    border-radius:18px;

    border:1px solid #e7efff;

    box-shadow:0 8px 25px rgba(51,102,255,.08);

    position:relative;

    overflow:hidden;

}

/* Background decoration */

.search-summary::before{

    content:"";

    position:absolute;

    right:-60px;

    top:-40px;

    width:380px;

    height:240px;

    background:radial-gradient(circle,#eef5ff 10%,transparent 70%);

    opacity:.8;

}

.search-summary::after{

    content:"";

    position:absolute;

    right:30px;

    top:20px;

    width:90px;

    height:90px;

    background-image:radial-gradient(#d6e4ff 2px,transparent 2px);

    background-size:16px 16px;

    opacity:.8;

}

.summary-left{

    z-index:2;

}

.route-row{

    display:flex;

    align-items:center;

    gap:18px;

    margin-bottom:18px;

}

.route-row h2{

    margin:0;

    font-size:2rem;

    font-weight:700;

    color:#1d2b53;

}

.route-arrow{

    color:#eef0f6;

    margin:0 18px;

}

.date-row{

    display:flex;

    align-items:center;

    gap:18px;

}

.date-row p{

    margin:0;

    font-size:1.1rem;

    color:#cecbd4;

}

.date-row strong{

    color:#ffffff;

    font-weight:700;

}

.summary-right{

    z-index:2;

}

.bus-count-card{

    display:flex;

    align-items:center;

    gap:18px;

    padding:15px 22px;

    border-radius:14px;

    background:#f7faff;

    border:1px solid #dbe8ff;

}

.summary-icon{

    width:48px;

    height:48px;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#edf4ff;

    color:#2f6bff;

    font-size:1.45rem;

}

.bus-count-card h4{

    margin:0;

    color:#2f6bff;

    font-weight:700;

}

.bus-count-card span{

    color:#666;

    font-size:.95rem;

}
