.passengers-page{

    padding:30px;

}

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.page-header h2{

    font-weight:700;

    color:#1e293b;

}

.page-header p{

    margin:0;

    color:#64748b;

}

.page-actions{

    display:flex;

    align-items:center;

    gap:15px;

}

.search-box{

    width:260px;

}

.table-card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.active-status{

    background:#d1fae5;

    color:#065f46;

    padding:6px 14px;

    border-radius:20px;

    font-weight:600;

}

.inactive-status{

    background:#fee2e2;

    color:#991b1b;

    padding:6px 14px;

    border-radius:20px;

    font-weight:600;

}